:root,
page {
  --nutui-color-primary: #d5f95f;
  --nutui-color-primary-stop-1: #d5f95f;
  --nutui-color-primary-stop-2: #d5f95f;
  --nutui-color-primary-text: #000000;

  --nutui-button-default-background-color: #2e2e2e;
  --nutui-button-default-color: #d5f95f;
  --nutui-button-default-font-weight: 600;

  --nutui-steps-process-icon-color: #000000;
  --nutui-steps-process-title-color: #ffffff;

  --nutui-font-size-3: 32px;

  --nutui-button-default-padding: 20px 20px;
  --nutui-button-normal-padding: 20px 20px;

  --nutui-input-background-color: #f4f4f5;
}
